/*
    Agile Mini Project - Personal Website
    Agile Programming
    Fall 2016
    Katie Cater, Lucas Lokken, Austing Prueher, Pheng Vang

*/

*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ff7d7d;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-title {

    color: white;
    margin-top: 10px;
    margin-right: 25px;
}

#col-lg-4 {
    border: 2px solid #d42121;
    float: left;
    margin: 5px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 0 1px 4px #9a0000,
        1px 2px 4px #963030;
    background-color: #ff6262;
}

#col-lg-4 img {
    border: 1px solid #000;
    width: 250px;
    height: 250px;
}

#col-lg-4 a {
    display: block;
    color: #000;
    text-decoration: none;
}

#col-lg-4 a:hover {
    color: #0056d4;
    font-size: 30px;
}

#col-lg-8 {
    border: 2px solid #d42121;
    margin: 5px;
    position: relative;
    left: 10px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 1px 4px #9a0000,
        1px 2px 4px #963030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    background-color: #ff6262;
}
