#ExperienceTable tr th {

    padding: 10px;
    text-align: center;
}

#ExperienceTable tr td {

    padding: 10px;
    text-align: center;
}

#SkillsTable tr th {

    padding: 10px;
    text-align: center;
}

#SkillsTable tr td {

    padding: 10px;
    text-align: center;
}

#ProjectsTable tr th {

    padding: 10px;
    text-align: center;
}

#ProjectsTable tr td {

    padding: 10px;
    text-align: center;
}

#EducationTable tr th {

    padding: 10px;
    text-align: center;
}

#EducationTable tr td {

    padding: 10px;
    text-align: center;
}

#StylesTables tr th {

    padding: 10px;
    text-align: center;
}

#StylesTables tr td {

    padding: 10px;
    text-align: center;
}

#ProfilePhotosTable tr th {

    padding: 10px;
    text-align: center;
}

#ProfilePhotosTable tr td {

    padding: 10px;
    text-align: center;
}

#ProfilePhotosTable img {

    max-width: 50px;
}

img.center {

    display: block;
    margin: 0 auto;
    align: middle;
}

.success {

    color: green;
}

.error {

    color: red;
}

.sidebarContainer {

    padding: 10px;
}

.sidebar {

    padding-left: 10px;
}

.maincontentContainer {

    padding: 10px;
}


